<%
  total_cost = @flights.map {|f| f['cost'].to_f}.sum if @flights.present?
%>

<head>
  <script src="https://core.spreedly.com/iframe/express-2.min.js"></script>
  <script type="text/javascript">

    SpreedlyExpress.init('3C7NRMKIvw2hUvkgic6P5AP0UsH', {
      "amount": "<%= total_cost %>",
      "company_name": "Ainsworth Airlines"
    });

    SpreedlyExpress.onViewClose(function() {
      console.log('event: view closed');
    });

    SpreedlyExpress.onPaymentMethod(function(token, paymentMethod) {
      var tokenField = document.getElementById("payment_method_token");

      tokenField.setAttribute("value", token);

      var masterForm = document.getElementById('express-form');
      masterForm.submit();
    });
  </script>
</head>

<% if @flights.present? %>
  <h2>You have chosen the following flights</h2>
  <% @flights.each do |flight| %>
    <p>From <%= flight['departure'] %> to <%= flight['destination'] %> at a cost of $<%=flight['cost'] %></p>
  <% end %>
  <h2>Your total cost is <%= total_cost %>
  <form id="express-form">
    <input type="hidden" name="payment_method_token" id="payment_method_token">
    <input type="button" class="btn" value="Checkout" onclick="SpreedlyExpress.openView();">
    <%= link_to "Cancel", home_index_path, :"data-turbolinks"=>false, class: "btn"%>
  </form>
<% else %>
  <p>Your cart is empty. Return to the <%= link_to "flights", home_index_path, :"data-turbolinks"=>false %> page to book a flight!</p>
<% end %>