<%
  total_cost = @flights.map {|f| f['cost'].to_f}.sum if @flights.present?
%>

<head>
  <script src="https://core.spreedly.com/iframe/iframe-v1.min.js"></script>
  <script>
    Spreedly.init("3C7NRMKIvw2hUvkgic6P5AP0UsH", {
      "numberEl": "spreedly-number",
      "cvvEl": "spreedly-cvv"
    });

    Spreedly.on("ready", function () {
      //something isn't working with this callback/init process
      console.log('listener')
      var submitButton = document.getElementById('submit-button');
      submitButton.disabled = false;
    });
  </script>
</head>

<% if @flights.present? %>
  <h2>You have chosen the following flights</h2>
  <% @flights.each do |flight| %>
    <p>From <%= flight['departure'] %> to <%= flight['destination'] %> at a cost of $<%=flight['cost'] %></p>
  <% end %>
  <h2>Your total cost is <%= total_cost %></h2>
  <form id="payment-form" action="/order" method="post" onsubmit='submitPaymentForm(); return false;'>

  <input type="hidden"  name="payment_method_token" id="payment_method_token">

  <label for="full_name">Name</label>
  <input type="text" id="full_name" name="full_name"><br/>

  <label>Credit Card Number</label>
  <div id="spreedly-number" style="width:225px; height:35px; border: 2px solid"></div><br/>

  <label for="month">Expiration Date</label>
  <input type="text" id="month" name="month" maxlength="2">
  <input type="text" id="year" name="year" maxlength="4"><br/>

  <label>CVV</label>
  <div id="spreedly-cvv" style="width:60px; height:35px; border: 2px solid "></div><br/>

  <input id="submit-button" type="submit" value="Pay Now" disabled>

</form>
<% else %>
  <p>Your cart is empty. Return to the <%= link_to "flights", home_index_path, :"data-turbolinks"=>false %> page to book a flight!</p>
<% end %>