<head>
  <script src="https://core.spreedly.com/iframe/express-2.min.js"></script>
</head>

<div class="flights-grid-container">
  <ul class="flights-grid">
    <li class="grid-title">Available Flights</li>
    <ul class="grid-headers">
      <li>Leaving From</li>
      <li>Going To</li>
      <li>Cost</li>
    </ul>
    <% @flights.each do |flight| %>
      <% receiver = rand(2) == 1 ? 'expedia' : 'none' %>
      <ul class="flight">
        <li><%= flight[:departure] %></li>
        <li><%= flight[:destination] %></li>
        <li><%= flight[:cost] %></li>
        <li class="button-container">
          <form action="/order" method="post" id="express-form">
            <input type="hidden" name="authenticity_token" value="form_authenticity_token">
            <input type="hidden" name="payment_method_token" id="payment_method_token">
            <input type="hidden" name="amount" value="<%= flight[:cost] %>">
            <input type="hidden" name="receiver" value="<%= receiver %>">
            <input type="button" class="btn highlight" value="Book Now!" onclick="callSpreedly(<%= flight[:cost] %>)">
          </form>
          <%= link_to "Add to Cart", cart_path(flight: flight), method: :post, class: "btn" %>
        </li>
        <% if receiver == 'expedia' %>
          <%= image_tag "expedia_logo.png", class: "expedia-logo" %>
        <% end %>
      </ul>
    <% end %>
  </ul>
  <div class="controls-container">
    <%= link_to "Proceed to Checkout", checkout_path, :"data-turbolinks"=>false, class: "btn" %>
    <%= link_to "Clear Cart", clear_cart_path, method: :post, class: "btn" %>
    <%= link_to "Show All Transactions", bookings_index_path, class: "btn" %>
  </div>
</div>

<script type="text/javascript">

function callSpreedly(cost) {
  SpreedlyExpress.init('3C7NRMKIvw2hUvkgic6P5AP0UsH', {
    "amount": cost,
    "company_name": "Spreedly Airlines"
  });
  SpreedlyExpress.openView();
}

SpreedlyExpress.onPaymentMethod(function(token, paymentMethod) {
  var tokenField = document.getElementById("payment_method_token");

  tokenField.setAttribute("value", token);

  var masterForm = document.getElementById('express-form');
  masterForm.submit();
});
</script>